<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>登录</title>
<link rel="stylesheet" href="../js/layui/css/layui.css" />
</head>
<body>
<h1 id="title"></h1>
<form class="layui-form" action="">
	<div class="layui-form-item">
	    <label class="layui-form-label">请输入密码：</label>
	    <div class="layui-input-block">
	      <input type="password" name="pwd" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input" />
	    </div>
	</div>
	<input type="hidden" name="adminId" id="adminId"/>
	<div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
	    </div>
	</div>
</form>
</body>
<script type="text/javascript" src="../js/layui/layui.js"></script>
<script type="text/javascript">
	layui.use('form',function(){
		var $ = layui.$;
		var form = layui.form;
		$.post("/admin/isFirstAdmin", function(data) {
			var title = $('#title');
			if(data == 'no'){
				title.html('请输入密码！');
			}else{
				title.html('请设置密码!');
				$('#adminId').val(data);
			}
		})
		
		//监听提交
		form.on('submit(submit)', function(data){
		   layer.alert(JSON.stringify(data.field), {
		     title: '最终的提交信息'
		   })
		   alert("JSON.stringify(data.field)="+JSON.stringify(data.field))
		  $.post("/admin/admin",JSON.stringify(data.field),function(data){
			  	if(data=="ok"){
			  		location.href="/admin/";
			  	}
		  })
		  return false;
		});
	})
</script>
</html>